$menu-width: 250px;
$color1: rgba(0, 0, 0, 1);
$color2: rgba(54, 57, 70, 1);
$color3: rgba(89, 60, 143, 1);
$color4: rgba(43, 65, 98, 1);
$color5: rgba(56, 95, 113, 1);
$bootstrap-sass-asset-helper: true;
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
body {
  background: url('/img/footer_lodyas.png');
  color: #ccc;
}

a {
  color: inherit;
}

body {
  overflow-x: hidden;
}
/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 0;
  width: $menu-width;
  top:0;
  bottom:0;
  margin-left: 0;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 10px;
  padding-left:$menu-width;
}

/* Sidebar Styles */
.sidebar-nav {
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 28px;
  line-height: 60px;
  text-indent: 0px;
  text-align: center;
}

.sidebar-nav > .sidebar-brand a {
  color:white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: $color2;
}
.credits {
  text-align:center;
  color:$color3;
}
.AnmCmdSidebar {
  position: relative;

  select {
    width: 100%;
    padding: 4px;
  }

  ul {
    position: fixed;
    top: 180px;
    width: $menu-width;
    bottom: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;

    li a {
      display: block;
      padding: 2px !important;
      font-size: 90%;
    }
    .fa {
      margin-left:4px;
    }
    .attack{
      color:rgb(242, 32, 4);
    }
    li a.active,
    li a:focus,
    li a:hover {
      background: $color3;
      color:white;
    }
  }
}

.AnmCmdDisplay > div {
  padding: 1em 0 1em 120px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 1em;

  h4 {
    font-size: 80%;
    position: absolute;
    top:5px;
    left: 0.5em;
    margin: 0;
    padding: 0;
  }
  .command {
    font-family: 'Consolas','Monaco',fixed-width;
    font-size: 80%;
  }
  color: $color1;
  background: rgba(150,150,150,.5);
}
.characterList a {
  margin-right: 0em;
  margin-bottom: 0em;
  display: inline-block;
  float: left;
  line-height: 60px;
}
.characterList a.no-image {
  margin-top:20px;
  background: darken($color2,20);
  padding: 0.5em;
  display: block;
  float: left;
}

.module00 {
  background: #000;
  color: white;
}

.module01 {
  background: #ffd9ad;
  color: black;
}
